.Messages {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "di ch"
  ;
  gap: 10px;
}

.dialogs {
  grid-area: di;
  padding: 10px;
  border-right: 1px solid #363636;
}

.dialogsItem.active {
  font-weight: 500;
}

.messagesChat {
 grid-area: ch;
 padding: 10px;
}