.content__bg {
  height: 170px;

  background-image: url(https://cdn.birdwatchingdaily.com/2020/02/Tufted_Titmouse_62126_Jenny_Burdette_GA2019_Overall1-e1573593877167.jpeg);
  background-position: center 20%;
  background-size: cover;
}