.content__bg {
  height: 200px;
  border-bottom: 5px solid #363636;
  border-radius: 5px 5px 0 0;

  background-image: url(https://cdn.birdwatchingdaily.com/2020/02/Tufted_Titmouse_62126_Jenny_Burdette_GA2019_Overall1-e1573593877167.jpeg);
  background-position: center 20%;
  background-size: cover;
}