.users {
  margin: 10px auto;
  color: #ffffff;
}

.currentPage {
  font-weight: 700;
  color: #3E88F3;
}

.avatar {
  width: 75px;
  height: auto;
  border-radius: 50%;
}

/* .preloader {
  width: 40%;
  margin: 0 auto;

  color:#3E88F3;
} */