/* Адаптация */

/* .nav__item {
  margin-bottom: 8px;
  
}

.nav__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-bottom: 4px;
  }
} */

/* links */
.nav__item a {
  display: block;
  max-width: 100%;
  padding: 20px 59px 20px 29px;
  border-bottom: 1px solid var(--body-background);
  text-decoration: none;

  font-size: 1.0625rem;
  color: var(--color-text);
}

.nav__item:last-child a {
  border-bottom: none;
}

.nav__item a.nav__link_active:link,
.nav__item a.nav__link_active:visited {
  padding-left: 25px;
  color: var(--main-color);
}

.arrow {
  display: none;
}

.nav__item a.nav__link_active .arrow {
  display: inline-block;
  width: 8px;
  height: 12px;
  margin-right: 7px;
  background-image: url("./../../../assets/images/nav-arrow.svg");
}

.nav__item a:link,
.nav__item a:visited,
.nav__item a:active {
  color: var(--color-text);
}