.nav__item {
  margin-bottom: 5px;
  
}

.nav__item:last-child {
  margin-bottom: 0;
}

/* Адаптация */

/* .nav__item {
  margin-bottom: 8px;
  
}

.nav__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .nav__item {
    margin-bottom: 4px;
  }
} */

/* links */
.nav__item a {
  position: relative;
  display: block;
  max-width: 100%;
  padding: 14px 80px 14px 28px;
  border-radius: 5px;
  background-color: #AFDABA;
  text-decoration: none;

  font-size: 1.2rem;
}

.nav__item a.nav__link_active:link,
.nav__item a.nav__link_active:visited {
  position: relative;
  background-color: #72917a;
  font-weight: 500;
  color: #212121;
}

.nav__item a:link,
.nav__item a:visited {
  color: #363636;
}

.nav__item a:active {
  font-weight: 500;
  color: #000;
}