.header {
  height: 8.771929824561404vh;
  margin-bottom: 10px;
  background-color: var(--main-color);
}

.wrapper { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1160px;
  height: 8.771929824561404vh;
  margin: 0 auto;
}

.logoBox {
  width: 60px;
  height: 60px;
}

.logo {
  width: 100%;
  height: 100%;
  fill: rgba(184, 230, 196, 0.8);
}

/* BURGER BUTTON */

.burgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 26px;
  height: 24px;
  margin-right: 15px;
}

.burgerBtn::before,
.burgerBtn::after,
.burgerBtn span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-background);
}

.burgerBtn::before,
.burgerBtn::after {
  content: "";
}

.loginBlock,
.loginBlock a {
  color: var(--color-text);
}

/* LOGOUT BTN */
.logOutBtn {
  position: relative;
  height: 24px;
  width: 24px;
  margin-right: 15px;
  margin-left: 0;
  cursor: pointer;
}

.logOutBtn::before,
.logOutBtn::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  transform-origin: center;
  background-color: var(--main-background);
}

.logOutBtn::before {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.logOutBtn::after {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}