.nav {
  grid-area: n;

  padding: 0 7px 0;
  border-radius: 10px;

  /* background-color: #AFDABA; */
  background-color: #8DAC95;
}

/* Адаптация */

/* .nav {
  grid-area: n;

  padding: 8px;
  border-radius: 5px;

  background-color: #8DAC95;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 4px;
  }
} */

