.mainWrapper {
  position: relative;
  min-height: 105px;

  padding-left: 3.608%;
  padding-top: 90px;
  padding-bottom: 15px;

  box-shadow: 0px 2px 6px var(--box-shadow);
  border-radius: 3px;

  color: var(--color-text);
} 

.nameContainer {
  position: absolute;
  top: -60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.avatarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-color: var(--color-description);
}

.avatar {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fullName {
  margin-left: 23px;

  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: var(--main-color);
}
/* 
.info {
  
} */