.mainWrapper {
  position: relative;
  min-height: 300px;

  border: 1px solid var(--main-color);
  border-radius: 0 0 5px 5px;

  color: var(--color-text);
} 

.avatarWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  outline: 1px solid var(--main-color);
  border: 5px solid var(--color-text);
  border-radius: 25px;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fullName {
  margin-top: 100px;

  text-align: center;
}
/* 
.info {
  
} */