.posts__item {
  margin-bottom: 6px;
  padding: 10px;
  border: 0.5px solid #000000;
  border-radius: 5px;

  background-color: #3E88F3;

  color: #000000;
}

.posts__item:last-child {
  margin-bottom: 0;
}

.posts__item::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 20%;
  background-color: grey;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfcXfUyzol2ReqCMbBvR8Pb1PIfjHrilHYiA&usqp=CAU);
  background-position: center center;
  background-size: cover;
}