.сhat {
  border-radius: 5px;
  overflow: hidden;
  border: 1.5px solid #8DAC95;
  
  background-color: #8DAC95;

  color: #000000;
}

.chatBox {
  padding-top: 10px;
  padding-bottom: 10px;
  /* border: 1.5px solid #8DAC95;
  border-bottom: none;
  border-radius: 5px 5px 0 0; */
  background-color: #363636;
}

.inputBox {
 background-color: #8DAC95;
}
/* rgba(141, 172, 149,) */