* {
  box-sizing: border-box;
}

body {
  background-color: #363636;

  color: #363636;
}

.app-wrapper {
  display:  grid;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  /* grid-template-columns: 2fr 10fr; */
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: 10px;
  align-items: start;

  grid-template-areas: 
  "n c "
  ;
}

.content {
  grid-area: c;
  border-radius: 5px;
  background-color: rgba(184, 230, 196, 0.67);
}